<%= current_user.name %>
<% if current_user.admin? %>
  <p>Admin</p>
<% end %>

<div>
  <p><strong>Title: </strong><%= @article.title %></p>
  <p><strong>Body: </strong> <%= @article.body %></p>

</div>

<% if policy(@article).update? %>
  <%= link_to "Edit", edit_article_path(@article) %>
<% end %>

<% if policy(@article).destroy? %>
  <%= button_to "Delete", @article, method: :delete %>
<%end%>

<h3>Comments on the article</h3>
<%= render @article.comments %>

<h3> Add a Comment </h3>
<%= render "comments/form", comment: @comment %>

